.container {
    border: none;
    background-color: #eee4;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.container:hover {
    transform: scale(1.01);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
}

.container .pic {
    min-width: 60px;
    min-height: 60px;
    border-radius: 10px;
    border: none;
    background: rgb(7, 226, 255);
    margin-right: 10px;
}

.container .name {
    font-size: 1.3rem;
    font-weight: 500;
}

.container .total {
    font-size: 0.9rem;
}