.cate {
    width: 100%;
    padding-top: 5rem;
}

.header {
    margin: 2rem 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    font-weight: var(--CONTAINER-HEAD-WEIGHT);
    font-size: var(--CONTAINER-HEAD-SIZE);
}

.body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}