:root {
    --green: #0a8100;

}

.subcate {
    width: 100%;
    padding-top: 1.2rem;
}

.head {
    margin: 2rem 0 0.5rem;
    font-weight: var(--CONTAINER-HEAD-SIZE);
    font-size: var(--CONTAINER-HEAD-SIZE);
}

.win-container {
    display: flex;
    /* justify-content: space-between; */
}

.win {
    border-radius: 10px;
    padding: 0.8rem 1.3rem;
    line-height: 1.8rem;
    margin-right: 1.5rem;
}

.win, .time, .total-amount {
    background-color: #cfcfcf21;
    border: 1px solid #ccc6;
}

.win .title {
    color: var(--green);
    font-size: 1rem;
}

.win-info {
    display: flex;
    font-size: 0.85rem;
}

.win-profile {
    width: 110px;
    height: 100px;
    background-color: rgb(0, 183, 255);
    border-radius: 20px;
    margin-right: 20px;
}

.win .name {
    font-weight: 500;
    font-size: 1.05rem;
}

.win-vote {
    font-size: 1.5rem;
    color: #6c6c6c;
}

.win-amount {
    border: 1.9px solid;
    padding: 0 0.5rem;
    border-radius: 5px;
    color: var(--green);
    font-weight: 500;
}

.time-money {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.text {
    display: block;
    font-size: 0.68rem;
    font-weight: 400;
}

.time, .total-amount {
    border-radius: 10px;
    padding: 0.3rem 0.8rem;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin-bottom: 5px;
}

.total-amount {
    font-weight: 400;
    margin-bottom: 0;
}

.table-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.results-container {
    margin-top: 2.5rem;
    /* margin-top: 1rem; */
}

.results {
    border-collapse: collapse;
    font-size: 0.9rem;
    width: 100%;
}

.results thead tr {
    text-align: left;
    background-color: rgba(172, 205, 247, 0.296);
}

.results thead th, 
.results tbody td {
    padding: 12px 2rem;
}

.delete {
    color: red;
    font-weight: 400;
}

.each-vote {
    color: blue;
    font-weight: 600;
}